@page {
    /* for printing. because individual pages have their own padding */
    margin: 0;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.nomargin{
  margin: 0;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0rem 1rem;
}

.App-header-left {
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="button"], input[type="submit"], button, .button {
    padding: 0.5rem 0.7rem;
    background: #eee;
    color: black;
    border: solid 1px #aaa;
    text-decoration: none;
    text-align: center;
}

input[type="button"].inverted, input[type="submit"].inverted, button.inverted, .button.inverted {
    border: none;
}

.page-heading {
  font-size: 1.5em;
  margin: 1rem 0;
}

.page-sub-heading {
  font-size: 1.2em;
  margin: 1.2rem 0;
  line-height: 0.9;
}

.heading-extra {
  margin-top: -1.2rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.login-page {
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 30rem;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > *+* {
  margin-top: 1rem;
}

.field {
  display: flex;
}

.field > * {
  flex-grow: 1;
}

.field > label {
  flex-grow: 0;
  flex-basis: 5em;
}

.events-page {
  padding: 0 2em;
}

.events-list {
  display: flex;
  flex-direction: column;
  margin-left: -2em;
  margin-right: -2em;
}

.events-list-item {
  padding: 1rem 2rem;
  font-size: 1.25em;
  font-weight: normal;
}
.events-list > *+* {
  border-top: solid 1px #ccc;
}

.event-reg-list, .event-reg-list > *+* {
  border-top: solid 1px #ccc;
}

.event-reg-list-item {
  padding: 0.5rem 1rem;
}

.event-reg-label {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.event-reg-detail {
  display: flex;
  flex-direction: column;
  padding: .5rem 0;
}

.team-member-details {
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
}

.team-member-details+.team-member-details {
    margin-top: 0.5em;
    border-top: solid 1px #eee;
}
